<div th:replace="~{compartilhado/topo :: topo}"></div>

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Carros</h1>
    
    <p class="mb-4">Aqui você encontrara todos os carros que já passaram pela sua oficina!</p>

    <div th:if="${mensagemSucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong th:text="${mensagemSucesso}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${mensagemErro}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong th:text="${mensagemErro}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Carros Cadastrados</h6>
            <button class="btn btn-primary" style="margin-right: 20px;" data-toggle="modal" data-target="#modalNovoCliente">Adicionar</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Placa</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Ano</th>
                            <th>Cliente</th>
                            <th>Alterar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="veiculo : ${veiculos}">
                            <td th:text="${veiculo.placa}"></td>
                            <td th:text="${veiculo.modelo}"></td>
                            <td th:text="${veiculo.marca}"></td>
                            <td th:text="${veiculo.ano}"></td>
                            <td th:text="${veiculo.cliente.nome}"></td>
                            <td style="white-space: nowrap; width: 1%;"><a th:href="@{/carros/editar/{id}(id=${veiculo.id})}" class="btn btn-warning" data-target="#modalNovoCliente">Alterar</a></td>
                            <td style="white-space: nowrap; width: 1%;">
                                <a th:href="@{/carros/{id}/excluir(id=${veiculo.id})}"
                                   onclick="return confirm('Tem certeza que deseja excluir este registro?');"
                                   class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="modalNovoCliente" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Dados do Carro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form th:action="@{/carros/salvar}" method="post" th:object="${veiculo}">
                    
                    <input type="hidden" th:field="*{id}">

                    <div class="form-group">
                        <label>Placa</label>
                        <input type="text" class="form-control" th:field="*{placa}" 
                               required maxlength="7" placeholder="Ex: ABC1D23" 
                               pattern="[A-Za-z]{3}-?[0-9][A-Za-z0-9][0-9]{2}" 
                               title="Formato da placa: ABC1D23 ou FIP1234 no Padrão Brasileiro" 
                               oninput="this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '')">
                        <small class="form-text text-muted">Formato da placa: ABC1D23</small>
                    </div>

                    <div class="form-group">
                        <label>Modelo</label>
                        <input type="text" class="form-control" th:field="*{modelo}" 
                               required maxlength="15" placeholder="Ex:Corsa" 
                               oninput="this.value = this.value.toUpperCase().replace(/[^A-Z0-9 .]/g, '')">
                    </div>

                    <div class="form-group">
                        <label>Marca</label>
                        <input type="text" class="form-control" th:field="*{marca}" 
                               required placeholder="Ex:FIAT" 
                               oninput="this.value = this.value.toUpperCase().replace(/^\s+/, '')">
                    </div>

                    <div class="form-group">
                        <label>Ano</label>
                        <input type="text" class="form-control" th:field="*{ano}" 
                               maxlength="4" minlength="4"  
                               placeholder="Ex: 2022" 
                               pattern="[0-9]{4}"
                               inputmode="numeric"
                               required
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')">

                               <div class="text-danger" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
                    </div>

                    <div class="form-group">
                        <label>Cliente</label>
                        <select class="form-control" th:field="*{cliente}" required>
                            <option value="">Selecione um Cliente...</option>
                            <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}"></option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{compartilhado/rodape :: rodape}"></div>
<script th:if="${veiculo.id != null}">
    $(document).ready(function() {
        // Garanta que este nome (#modalNovoCliente) é IGUAL ao id="modalNovoCliente" da div lá em cima
        $('#modalNovoCliente').modal('show');
    });
</script>

</body>
</html>